NEXT_PUBLIC_SUPABASE_URL="https://hkmwncjlwfofxmmwwbyx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrbXduY2psd2ZvZnhtbXd3Ynl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NzA2NjksImV4cCI6MjA5OTU0NjY2OX0.NFL_AidgAIrrhJQCA2YHieU3ag-I8KR3E644iaUczwQ"
